[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
"cli.schedule" = {editable = true, path = "."}
cli-schedule = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.6"
